@model IEnumerable<ShopProjectMVC.Core.Models.Order>

@{
	ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Orders:</h1>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Product</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
		@foreach (var order in Model)
		{
		    <tr>
		        <td>@order.User.Name</td>
		        <td>@order.Product.Name</td> 
		        <td>@order.CreatedAt</td>
		        <td>
					<a asp-action="Edit" asp-route-id="@order.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@order.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@order.Id">Delete</a>
		        </td>
		    </tr>
		}
    </tbody>
</table>
