@model ShopProjectMVC.Core.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
	<h1 class="text-center mb-4">Delete</h1>

	<h3 class="text-center mb-4">Are you sure you want to delete this product?</h3>
	<div class="d-flex justify-content-center mb-4">
		<div class="card mb-4">
			<div class="content">
				<div class="title">@Model.Name</div>
				<div class="price">$@Model.Price</div>
				<div class="description">@Model.Description</div>

				<img class="card-img" src="@(System.IO.Path.Combine("pictures", Model.Image))" alt="@Model.Name"/>

				<div class="category">@Model.Category?.Name</div>
				<div class="count">Available: @Model.Count</div>
			</div>

			<form asp-action="Delete">
				<input type="hidden" asp-for="Id" />
				<input type="submit" value="Delete" class="btn btn-danger" /> |
			</form>
		</div>
	</div>
	<a asp-action="Index" class="btn btn-primary mt-4">Back to List</a>
	
</div>